.form-field{
    margin-right: 20px;
    width: 45%;
  }

  .container{
    max-width: 100%;
  }

  .mat-dialog-content{
    padding-left: 8%;
  }

  .margin {
    margin: 0 10px;
  }

  .close-button{
    float: right;
  }
